
.new-resource-sec{
display: flex;
justify-content:space-between;
align-items:center;
.bold {
font-weight: 400 !important;
 color: black
}
.delete-resource {
  width: 150px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #FF4B55;
  background: #FFF6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  cursor: pointer;
}
.add-resource {
  width: 150px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #00B2FF;
  background: #F6F9FF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  cursor: pointer;
}
.edit-resource {
  width: 150px;
  cursor: pointer;
  height: 57px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.back{
width: 65px;
height: 65px;
border-radius: 40%;
background-color:var(--gray);
text-align: center;
i{
  transform: translateY(100%);
}
}

h4{
  font-weight: 700;
  color: #000000;
}
}

// ::ng-deep{
//   .p-inputswitch .p-inputswitch-slider {
//     background: #3B82F6;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 30px;
// }
// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
//   background: #ced4da;
// }
// .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
//   background: #ced4da;
// }
// }



@media screen and (max-width: 580px) {
  .new-resource-sec,.new-resource{
    flex-direction: column !important;
 
  }
 
}
