:root {
  --main-color: #dfe1e3 !important;
  --red: #fab8b8 !important;
  --text-main-color: #bbc3cb !important;
  --gray: #bbc3cb !important;
  --input-bac: #f4eeee !important;
  --input-border: #f1eeee !important;
}
